@import '../../../base/styles/vars.scss';

.travel-search {
  position: relative;
  width: 100%;
  margin-bottom: rem(30);

  @media (min-width: 768px) {
    margin-bottom: rem(34);
  }

  &__input {
    width: 100%;
    height: rem(40);
    padding: 0 rem(42);
    border: 0;
    border-radius: rem(6);
    background-color: #fff;
    font-size: rem(14);
    font-weight: 300;
    color: $purple;
    box-shadow: 0 rem(4) rem(16) rem(2) rgba(0, 0, 0, 0.05);

    @media (min-width: 768px) {
      height: rem(44);
      padding: 0 rem(46);
      border-radius: rem(8);
      font-size: rem(16);
    }

    &::placeholder {
      color: $grayBlue;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 rem(4) rem(16) rem(2) rgba(0, 0, 0, 0.1);

      & + .travel-search__label {
        svg {
          fill: $purple;
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: rem(22);
    display: block;
    width: rem(20);
    height: rem(20);
    padding: rem(2);
    transform: translate(-50%, -50%);

    @media (min-width: 768px) {
      left: rem(24);
      width: rem(24);
      height: rem(24);
      padding: rem(3);
    }

    svg {
      fill: $grayBlue;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: rem(24);
    display: inline-flex;
    width: rem(32);
    height: rem(32);
    padding: rem(6);
    border: 0;
    bottom: 0;
    background-color: transparent;
    transform: translate(50%, -50%);

    @media (min-width: 768px) {
      right: rem(26);
      width: rem(36);
      height: rem(36);
      padding: rem(6);
    }

    svg {
      fill: $grayBlue;
    }

    &:hover,
    &:active {
      svg {
        fill: $purple;
      }
    }
  }
}
