@import '../../base/styles/vars.scss';

.people {
  display: flex;
  align-items: center;

  &__item {
    width: rem(28);
    height: rem(28);
    display: block;
    margin-left: rem(4);
    border-radius: 50%;
    background-color: $purple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

    @media (min-width: 768px) {
      width: rem(32);
      height: rem(32);
      margin-left: rem(6);
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:hover,
    &:active {
      box-shadow: 0 rem(2) rem(12) rem(2) rgba(0, 0, 0, 0.12);
      transform: translateY(-0.125rem);
    }
  }
}
